//first breakpoint
$first_breakpoint: "max-width: 865px";
$last_breakpoint: "max-width: 700px";

.show-for-small {
	display: none;
}

//First content breakpoint
@media all and ($first_breakpoint) {
	#aside {
		width: 75px;
	}

	.logo .tit-author,
	.logo .role-author {
		display: none
	}

	.menu a {

		& span {
			display: none;
		}
	}

	#articles-list.active {
		@include transform(translate(75px, 0));
		
	}

	#content {
		margin-left: 125px;

		&.active {
			margin-left: 300px
		}
	}
}

// Last content breakpoint
@media all and ($last_breakpoint) {
	#articles-list, 
	#nav {
		display: none;
	}

	.ui-a-01 {
		background: rgba(0, 0, 0, 0.1);
		color: #000;
		width: 100px;
		height: 25px;
		text-align: center;
		line-height: 25px;
	}

	#aside {
		position: static;
		width: 100%;
	}

	.logo {
		margin: 0;

		& .tit-author, 
		& .role-author {
			display: block;
			float: none;
		}
	}

	#mb-menu {
		display: block;
		width: 100%;
		margin: 10px 0;
	}

	#content, 
	#content.active {
		margin-left: 20px;
	}

	.show-for-small {
		display: block;
	}

	/* mobile navigation */
	#mobileNav {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 90;
	}
	#mobileNav > a {
		display: block;
		background: url("../images/ico-menu.png") no-repeat 0 0;
		width: 27px;
		height: 28px;
		top: 26px;
		right: 10px;
		position: absolute;
	}
	.mobileNav-main {
		background: #000;
		top: 77px;
		position: relative;
	}
	.mobileNav-main a {
		display: block;
		color: #fff;
		padding: 5px 10px;
		font-size: 1.8rem;

		&:hover {
			background: #222;
		}
	}
	.mobileNav-main > li:first-child a {
		padding-top: 10px;
	}

	/* articles sub nav */
	.mobileNav-article-content {
		display: none;
	}
}










